{% trans_default_domain 'FOSUserBundle' %}

<!-- Password recovery -->
<div class="panel panel-body login-form">
    {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}

    <div class="text-center">
        <div class="icon-object border-warning text-warning"><i class="icon-key"></i></div>
    </div>
    {% for errorItem in form.plainPassword.first.vars.errors %}
        <div class="alert alert-danger text-center">
            {{ errorItem.message }}
        </div>
    {% endfor %}
    <div class="form-group has-feedback">
        {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control', 'placeholder':'form.new_password'} }) }}
        <div class="form-control-feedback">
            <i class="icon-key text-muted"></i>
        </div>
    </div>

    <div class="form-group has-feedback">
        {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'placeholder':'form.new_password_confirmation'} }) }}
        <div class="form-control-feedback">
            <i class="icon-key text-muted"></i>
        </div>
    </div>

    <button type="submit" class="btn bg-blue btn-block">{{ 'resetting.reset.submit'|trans }} <i
                class="icon-arrow-right14 position-right"></i></button>

    {{ form_end(form) }}
</div>
<!-- /password recovery -->