{% extends 'base.html.twig' %}

{% block body %}
    <!-- Cover area -->
    <div class="profile-cover">
        {% if ( (not user.imgcover) or (not vich_uploader_asset(user.imgcover, 'imageFile')) ) %}
            <div class="profile-cover-img" style="background-image: url({{ asset('images/demo/cover4.jpg') }})"></div>
        {% else %}
            <div class="profile-cover-img"
                 style="background-image: url({{ vich_uploader_asset(user.imgcover, 'imageFile') }})"></div>
        {% endif %}

        <div class="media">
            <div class="media-left">

                {% if ( (not user.image) or (not vich_uploader_asset(user.image, 'imageFile')) ) %}
                    <a data-popup="lightbox" href="{{ asset('images/man.png') }}" class="profile-thumb">
                        <img src="{{ asset('images/man.png') }}" class="img-circle" alt="">
                    </a>
                {% else %}
                    <a data-popup="lightbox" href="{{ vich_uploader_asset(user.image, 'imageFile') }}"
                       class="profile-thumb">
                        <img src="{{ vich_uploader_asset(user.image, 'imageFile') }}" class="img-circle" alt="">
                    </a>
                {% endif %}
            </div>

            <div class="media-body">
                <h1>{{ user.username }}
                    <small class="display-block">UX/UI designer</small>
                </h1>
            </div>

            {{ render(controller('UserBundle:Profile:addProfilCoverImg')) }}

        </div>
    </div>
    <!-- /cover area -->
    <!-- Toolbar -->
    <div class="navbar navbar-default navbar-xs content-group">
        <ul class="nav navbar-nav visible-xs-block">
            <li class="full-width text-left">
                <a data-toggle="collapse" data-target="#navbar-filter"><i class="icon-menu7"></i></a></li>
        </ul>

        <div class="navbar-collapse collapse" id="navbar-filter">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="#experiences" data-toggle="tab"><i class="icon-stack-check position-left"></i>
                        Expériences</a>
                </li>
                <li>
                    <a href="#formations" data-toggle="tab"><i class="icon-stack-text position-left"></i>
                        Formations</a>
                </li>
                <li>
                    <a href="#projets" data-toggle="tab"><i class="icon-pencil-ruler position-left"></i> Projets</a>
                </li>

                <li>
                    <a href="#" data-toggle="modal" data-target="#modal_default"><i
                                class="icon-add position-left text-info"></i></a>
                </li>
            </ul>


            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#quiz" data-toggle="tab"><i class="icon-pencil7 position-left"></i>
                        Quiz</a>
                </li>
                <li>
                    <a href="#settings" data-toggle="tab"><i class="icon-cog3 position-left"></i>
                        Settings</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /toolbar -->

    <!-- Content area -->
    <div class="content">

        <!-- User profile -->
        <div class="row">
            <div class="col-lg-9">
                <div class="tabbable">
                    <div class="tab-content">

                        {{ render(controller('AppBundle:Candidat:showCV')) }}

                        <div class="tab-pane fade" id="quiz">

                            {{ render(controller('AppBundle:ChercherQuiz:show')) }}

                        </div>

                        <div class="tab-pane fade" id="settings">

                            <!-- Profile info -->
                            {{ render(controller('UserBundle:Profile:edit')) }}
                            <!-- /profile info -->


                            <!-- Password settings -->
                            <div class="panel panel-flat">
                                <div class="panel-heading">
                                    <h6 class="panel-title">Password settings</h6>
                                    <div class="heading-elements">
                                        <ul class="icons-list">
                                            <li><a data-action="collapse"></a></li>
                                            <li><a data-action="reload"></a></li>
                                            <li><a data-action="close"></a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="panel-body">
                                    {{ render(controller('UserBundle:ChangePassword:changePassword')) }}
                                </div>
                            </div>
                            <!-- /Password settings -->
                            <!-- Password settings -->
                            {#{{ render(controller('UserBundle:ChangePassword:changePassword')) }}#}
                            <!-- /Password settings -->

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">

                <!-- Navigation -->
                {#<div class="panel panel-flat">

                    <div class="list-group no-border no-padding-top">
                        <a href="#" class="list-group-item"><i class="icon-envelop"></i> Messages
                            <span class="badge bg-danger pull-right">29</span></a>
                        <a href="#" class="list-group-item"><i class="icon-users"></i> Friends</a>
                    </div>
                </div>#}
                <!-- /navigation -->


                <!-- Connections -->
                <div class="panel panel-flat">
                    <ul class="media-list media-list-linked pb-5">
                        <li class="media">
                            <a href="#" class="media-link">
                                <div class="media-left">
                                    <img src="{{ asset('images/demo/users/face1.jpg') }}" class="img-circle" alt="">
                                </div>
                                <div class="media-body">
                                    <span class="media-heading text-semibold">James Alexander</span>
                                    <span class="media-annotation">Development Web</span>
                                </div>
                                <div class="media-right media-middle">
                                    {#<span class="status-mark bg-success"></span>#}
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /connections -->

            </div>
        </div>
        <!-- /content area -->

    </div>
    <!-- /main content -->


    {{ render(controller('AppBundle:Candidat:addCV')) }}

{% endblock %}