{% extends 'base.html.twig' %}

{% block body %}
    <!-- Cover area -->
    <div class="profile-cover">
        {% if ( (not user.imgcover) or (not vich_uploader_asset(user.imgcover, 'imageFile')) ) %}
            <div class="profile-cover-img" style="background-image: url({{ asset('images/demo/cover4.jpg') }})"></div>
        {% else %}
            <div class="profile-cover-img"
                 style="background-image: url({{ vich_uploader_asset(user.imgcover, 'imageFile') }})"></div>
        {% endif %}

        <div class="media">
            <div class="media-left">
                <a href="#" class="profile-thumb">
                    {% if ( (not user.image) or (not vich_uploader_asset(user.image, 'imageFile')) ) %}
                        <img src="{{ asset('images/man.png') }}" class="img-circle" alt="">
                    {% else %}
                        <img src="{{ vich_uploader_asset(user.image, 'imageFile') }}" class="img-circle" alt="">
                    {% endif %}
                </a>
            </div>

            <div class="media-body">
                <h1>{{ user.username }}
                    <small class="display-block">UX/UI designer</small>
                </h1>
            </div>

            <div class="media-right media-middle">
                <ul class="list-inline list-inline-condensed no-margin-bottom text-nowrap">
                    <li><a href="#" class="btn btn-default"><i class="icon-file-picture position-left"></i>
                            Cover image</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /cover area -->
    <!-- Toolbar -->
    <div class="navbar navbar-default navbar-xs content-group">
        <ul class="nav navbar-nav visible-xs-block">
            <li class="full-width text-left">
                <a data-toggle="collapse" data-target="#navbar-filter"><i class="icon-menu7"></i></a></li>
        </ul>

        <div class="navbar-collapse collapse" id="navbar-filter">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="#experiences" data-toggle="tab"><i class="icon-stack-check position-left"></i>
                        Expériences</a>
                </li>
                <li>
                    <a href="#formations" data-toggle="tab"><i class="icon-stack-text position-left"></i>
                        Formations</a>
                </li>
                <li>
                    <a href="#projets" data-toggle="tab"><i class="icon-pencil-ruler position-left"></i> Projets</a>
                </li>

                <li>
                    <a href="#" data-toggle="modal" data-target="#modal_default"><i
                                class="icon-add position-left text-info"></i></a>
                </li>
            </ul>


            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#quiz" data-toggle="tab"><i class="icon-pencil7 position-left"></i>
                        Quiz</a>
                </li>
                <li>
                    <a href="#settings" data-toggle="tab"><i class="icon-cog3 position-left"></i>
                        Settings</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /toolbar -->

    <!-- Content area -->
    <div class="content">

        <!-- User profile -->
        <div class="row">
            <div class="col-lg-9">
                <div class="tabbable">
                    <div class="tab-content">

                        {{ render(controller('AppBundle:Candidat:showCV')) }}

                        <div class="tab-pane fade" id="quiz">


                            <!-- Search field -->
                            <div class="panel panel-flat">
                                <div class="panel-body">
                                    <form action="#" class="main-search">
                                        <div class="input-group content-group">
                                            <div class="has-feedback has-feedback-left">
                                                <input type="text" class="form-control input-xlg" value=""
                                                       placeholder="De quelle domaine vous voulez">
                                                <div class="form-control-feedback">
                                                    <i class="icon-search4 text-muted text-size-base"></i>
                                                </div>
                                            </div>

                                            <div class="input-group-btn">
                                                <button type="submit" class="btn btn-primary btn-xlg">Search
                                                </button>
                                            </div>
                                        </div>

                                        <div class="row search-option-buttons">
                                            <div class="col-sm-6">
                                                <ul class="list-inline list-inline-condensed no-margin-bottom">
                                                    <li>
                                                        <button type="reset" class="btn btn-link">
                                                            <i class="icon-reload-alt position-left"></i>
                                                            Réinitialiser votre recherche
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- /search field -->


                            <!-- Detached content -->
                            <div class="container-detached">
                                <div class="content-detached">

                                    <!-- Cards layout -->
                                    <ul class="media-list content-group">
                                        <li class="media panel panel-body stack-media-on-mobile">
                                            <div class="media-left">
                                                <a href="#">
                                                    <h3>HTML</h3>
                                                </a>
                                            </div>

                                            <div class="media-body">
                                                <h6 class="media-heading text-semibold">
                                                    <a href="#">Interaction UX/UI Industrial Designer</a>
                                                </h6>

                                                <ul class="list-inline list-inline-separate text-muted mb-10">
                                                    <li><a href="#" class="text-muted">Base</a></li>
                                                    <li>Amsterdam, Netherlands</li>
                                                </ul>

                                                <p>Extended kindness trifling remember he confined outlived if.
                                                    Assistance sentiments yet unpleasing say. Open they an busy they
                                                    my such high. An active dinner wishes at unable hardly no talked
                                                    on. Immediate him her resolving his favourite. Wished denote
                                                    abroad at branch at. Mind what no by kept.</p>
                                            </div>

                                            <div class="media-right text-nowrap">
                                                <span class="label bg-blue">New</span>
                                            </div>
                                        </li>
                                    </ul>
                                    <!-- /cards layout -->


                                    <!-- Pagination -->
                                    <div class="text-center content-group-lg pt-20">
                                        <ul class="pagination">
                                            <li class="disabled"><a href="#"><i
                                                            class="icon-arrow-small-left"></i></a></li>
                                            <li class="active"><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                            <li><a href="#"><i class="icon-arrow-small-right"></i></a></li>
                                        </ul>
                                    </div>
                                    <!-- /pagination -->

                                </div>
                            </div>
                            <!-- /detached content -->


                        </div>

                        <div class="tab-pane fade" id="settings">

                            <!-- Profile info -->

                            <!-- /profile info -->


                            <!-- Account settings -->
                            {{ render(controller('UserBundle:Profile:edit')) }}
                            <!-- /account settings -->

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">

                <!-- Navigation -->
                <div class="panel panel-flat">

                    <div class="list-group no-border no-padding-top">
                        <a href="#" class="list-group-item"><i class="icon-envelop"></i> Messages
                            <span class="badge bg-danger pull-right">29</span></a>
                        <a href="#" class="list-group-item"><i class="icon-users"></i> Friends</a>
                    </div>
                </div>
                <!-- /navigation -->


                <!-- Connections -->
                <div class="panel panel-flat">
                    <ul class="media-list media-list-linked pb-5">
                        <li class="media">
                            <a href="#" class="media-link">
                                <div class="media-left">
                                    <img src="{{ asset('images/demo/users/face1.jpg') }}" class="img-circle" alt="">
                                </div>
                                <div class="media-body">
                                    <span class="media-heading text-semibold">James Alexander</span>
                                    <span class="media-annotation">UI/UX expert</span>
                                </div>
                                <div class="media-right media-middle">
                                    <span class="status-mark bg-success"></span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /connections -->

            </div>
        </div>
        <!-- /content area -->

    </div>
    <!-- /main content -->


    {{ render(controller('AppBundle:Candidat:addCV')) }}

{% endblock %}