<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet"
          type="text/css">
    <link href="{{ asset('css/icons/icomoon/styles.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('css/icons/fontawesome/styles.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('css/core.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('css/components.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('css/colors.css') }}" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->

    <link rel="stylesheet" href="{{ asset('css/extras/jquery.fancybox.min.css') }}"/>

    <link href="{{ asset('css/custom.css') }}" rel="stylesheet" type="text/css">
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body class="navbar-top {% block body_class %}{% endblock %}">

<!-- Main navbar -->
<div class="navbar navbar-inverse navbar-sha bg-teal-400 navbar-fixed-top">
    <div class="navbar-header">
        <a class="navbar-brand" href="#"><img src="{{ asset('images/logo.png') }}" alt=""></a>

        <ul class="nav navbar-nav visible-xs-block">
            <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-menu7"></i></a></li>
        </ul>
    </div>

    <div class="navbar-collapse collapse" id="navbar-mobile">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="{{ path('homepage') }}"> <i class="icon-home4 position-left"></i> Accueil </a>
            </li>

            <li>
                <a href="#"> <i class="icon-exclamation position-left"></i> A propos </a>
            </li>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li>
                    <a href="#"> <i class="icon-reading position-left"></i> Recherche </a>
                </li>
            {% else %}
                <li>
                    <a href="{{ path('fos_user_profile_show') }}"> <i class="icon-man position-left"></i> Espace
                        Candidat </a>
                </li>

                <li>
                    <a href="{{ path('fos_user_profile_show') }}"> <i class="icon-reading position-left"></i> Espace
                        Recruteur </a>
                </li>
            {% endif %}
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li class="dropdown dropdown-user dropdown-user1 ">
                    <a class="dropdown-toggle " data-toggle="dropdown">
                        {% if ( (not user.image) or (not vich_uploader_asset(user.image, 'imageFile')) ) %}
                            <img src="{{ asset('images/man.png') }}" alt=""> <i class="caret"></i>
                        {% else %}
                            <img src="{{ vich_uploader_asset(user.image, 'imageFile') }}" alt=""
                            style="height: 35px!important; width: 30px!important;"> <i class="caret"></i>
                        {% endif %}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="{{ path('fos_user_profile_show') }}"><i class="icon-user-plus"></i> Mon profil</a>
                        </li>
                        <li><a href="#"><span class="badge badge-warning pull-right">0</span>
                                <i class="icon-comment-discussion"></i> Messages</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ path('fos_user_security_logout') }}"><i class="icon-switch2"></i> Se déconnecter</a>
                        </li>
                    </ul>
                </li>
            {% endif %}
        </ul>
    </div>
</div>
<!-- /main navbar -->

<!-- Page container -->
<div class="page-container">

    <!-- Page content -->
    <div class="page-content">

        <!-- Main content -->
        <div class="content-wrapper">
            {% block body %}{% endblock %}
        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->

</div>
<!-- /page container -->

<!-- Footer -->
<div>
    {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <div class="subscribe">
        <div class="container">
            <div class="row">
                <form class="form-group">
                    <div class="col-md-5 col-sm-5 col-md-offset-3 col-sm-offset-3">
                        <div class="email">
                            <input type="text" class="form-control" title="email" placeholder="Email address">
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-2">
                        <a href="#"> <img src="{{ asset('images/Subscribe.png') }}" alt=""> </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}

    <div id="content-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-2">
                    <i class="icon-envelop5 position-left"></i><a type="email" href="#">contact@webtrav.tn</a>
                </div>
                <div class="col-md-2 col-sm-2">
                    <i class="fa fa-copyright position-left"></i>2017,<a href="#"> webtrav.tn</a>
                </div>

                <div class="col-md-2 col-sm-2 col-md-offset-6 text-right">
                    <div>
                        <a href="#"><i class="icon-facebook2 position-left"></i></a>
                        <a href="#"><i class="icon-youtube3 position-left"></i></a>
                        <a href="#"><i class="icon-linkedin position-left"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /footer -->

<!-- Core JS files -->
<script type="text/javascript" src="{{ asset('js/plugins/loaders/pace.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/core/libraries/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/core/libraries/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/plugins/loaders/blockui.min.js') }}"></script>
<!-- /core JS files -->

<!-- Theme JS files -->
<script type="text/javascript" src="{{ asset('js/plugins/media/jquery.fancybox.min.js') }}"></script>

<script type="text/javascript" src="{{ asset('js/core/app.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/pages/gallery.js') }}"></script>
<!-- /theme JS files -->
{% block javascripts %}{% endblock %}
</body>
</html>
