{{ form_start(form, {'action': path('add_formation')}) }}
<div class="modal-body">
    <div class="panel-body">
        <div class="form-group">
            {{ form_widget(form.scolarite,
            {'attr':
                {
                    'name': 'enter-message',
                    'class': 'form-control mb-15',
                    'placeholder':'Titre',
                }
            }) }}
            {{ form_widget(form.diplome,
            {'attr':
                {
                    'name': 'enter-message',
                    'class': 'form-control mb-15',
                    'placeholder':'Diplome',
                }
            }) }}
            {{ form_widget(form.annee,
            {'attr':
                {
                    'name': 'enter-message',
                    'class': 'form-control mb-15',
                    'placeholder':'Annee',
                    'rows':'6',
                    'cols':'1'
                }
            }) }}
            {{ form_widget(form.description,
            {'attr':
                {
                    'name': 'enter-message',
                    'class': 'form-control mb-15',
                    'placeholder':'Description',
                    'rows':'6',
                    'cols':'1'
                }
            }) }}
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-link" data-dismiss="modal">
        Close
    </button>
    <button type="submit" class="btn btn-primary">Save</button>
</div>
{{ form_end(form) }}