{% trans_default_domain 'AppTranslat' %}
{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
<div class="form-group">
    <div class="row">
        <div class="col-md-6">
            <label>{{ 'recruteur.setting.panel-settings.username'|trans }}</label>
            <input type="text" value="{{ user.username }}" readonly="readonly" class="form-control">
        </div>

        <div class="col-md-6">
            <label>{{ 'recruteur.setting.panel-settings.password-old'|trans }}</label>
            {{ form_widget(form.current_password, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="has-error">
            <span class="help-block">{{ form_errors(form.current_password) }}</span>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="row">
        <div class="col-md-6">
            <label>{{ 'recruteur.setting.panel-settings.password-new'|trans }}</label>
            {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="has-error">
            <span class="help-block">{{ form_errors(form.plainPassword.first) }}</span>
        </div>

        <div class="col-md-6">
            <label>{{ 'recruteur.setting.panel-settings.password-repeat'|trans }}</label>
            {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="has-error">
            <span class="help-block">{{ form_errors(form.plainPassword.second) }}</span>
        </div>
    </div>
</div>

<div class="text-right">
    <button type="submit" class="btn btn-primary">{{ 'recruteur.setting.panel-settings.submit'|trans }}
        <i class="icon-arrow-right14 position-right"></i></button>
</div>
{{ form_end(form) }}